OPENHIM_USERNAME =
OPENHIM_PASSWORD =
OPENHIM_API_URL =
PORT =
FHIR_URL =
FHIR_USERNAME =
FHIR_PASSWORD =
CHT_URL = http://nginx
CHT_USERNAME =
CHT_PASSWORD =
CLIENT_REGISTRY_URL =
CLIENT_REGISTRY_TOKEN_URL =
NHDD_URL =
SNOMED_CT_URL =

MEDIATOR_URL =
MEDIATOR_PASSWORD =